[Unit]
Description=Update Hosntame for AutoScaling
After=network.target
Before=rsyslog.service zabbix-agent.service

[Service]
Type=oneshot
ExecStart=/usr/local/zabbix-host-controller/example/update_hostname_instanceid.sh
TimeoutSec=0

[Install]
WantedBy=multi-user.target
