[Unit]
Description=Enable or disable zabbix host status for systemd
After=zabbix-agent.service

[Service]
Type=oneshot
ExecStart=/usr/local/zabbix-host-controller/bin/zabbix_enable.py
ExecStop=/usr/local/zabbix-host-controller/bin/zabbix_disable.py
TimeoutSec=0
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
