#!/usr/bin/env python
# coding: utf-8

class ZabbixConfig:
    ZABBIX_API_URL = "http://your-zabbix.local/zabbix/api_jsonrpc.php"
    HEADERS = { "Content-Type": "application/json" }
    USER = "Admin"
    PASSWORD = "zabbix"

    ZABBIX_HOSTGROUP = [
        "Linux servers",
        "Discovered hosts",
    ]

    ZABBIX_TEMPLATE = [
        "Template OS Linux",
        "Template App HTTP Service",
    ]

    ZABBIX_MACRO = [
        { "macro": "{$WEB_SCENARIO_PATH}", "value": "/index.html" },
    ]

    ZABBIX_OPTIONS = {
         "jmx" : True,
     }
